/*manejo de variables, aplica a todo el css*/
.lightblue {
  color: lightblue; }

.red {
  color: red; }

.black {
  color: black; }

/*declaracion de mapa para colores*/
.grid {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-areas: "header header"  "main main" "footer footer"; }

.gridHeader {
  grid-area: header; }

.mainGuiasGrid {
  grid-area: main; }

.gridFooter {
  grid-area: footer; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .grid {
    grid-template-areas: "header"  "main"   "footer";
    /*gap: 10px;*/
    grid-template-columns: 100%;
    font-family: roboto;
    margin: 0;
    padding: 0; }
    .grid .gridHeader {
      grid-area: header; }
    .grid .mainGuiasGrid {
      grid-area: main; }
    .grid .gridFooter {
      grid-area: footer; } }

header {
  font-family: roboto; }

/*colores del parcial header modificado con map colores y map get*/
.tituloLogo {
  display: flex;
  justify-content: center;
  background-image: url(../assets/psicopattern.jpg);
  background-size: 30%;
  background-repeat: repeat; }
  .tituloLogo h1 {
    margin: auto 0;
    font-weight: 500;
    font-size: 40px; }
  .tituloLogo a {
    margin: auto 0;
    text-decoration: none;
    color: black; }

.navStyle {
  background-color: lightblue;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0; }
  .navStyle li {
    display: inline-block;
    font-size: 25px;
    padding: 20px; }
    .navStyle li a {
      color: black;
      text-decoration: none; }
      .navStyle li a:hover {
        color: red; }

/*clases de bootstarp de index.html*/
.tituloLogoBoot {
  background-image: url(../assets/psicopattern.jpg);
  background-size: 30%;
  background-repeat: repeat; }

.navStyle1 {
  background-color: lightblue !important; }

.color {
  color: #b54747 !important; }

.navStyle1 li a:hover {
  color: #b54747 !important; }

.navCenter {
  /*position: absolute;*/
  width: 100%;
  left: 0;
  top: 0;
  text-align: center; }

.fontB {
  font-size: 20px; }

.fontF {
  font-family: roboto; }

.hoverb {
  color: black !important;
  text-decoration: none; }
  .hoverb:hover {
    color: red !important; }

/*fin clases bootstrap*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
  header {
    font-family: roboto;
    /*width: 100%; se elimina el width momentaneamente ya que me esta chocando en la media mobile*/ }
  .tituloLogo {
    display: flex;
    justify-content: center;
    background-image: url(../assets/psicopattern.jpg);
    background-size: 30%;
    background-repeat: repeat; }
    .tituloLogo h1 {
      margin: auto 0;
      font-weight: 500;
      font-size: 35px; }
    .tituloLogo a {
      margin: auto 0;
      text-decoration: none;
      color: black; }
  .navStyle {
    background-color: lightblue;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0; }
    .navStyle li {
      display: inline-block;
      font-size: 25px;
      padding: 20px; }
      .navStyle li a {
        color: black;
        text-decoration: none; }
        .navStyle li a:hover {
          color: red; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .contentMediaGuias {
    display: flex;
    justify-content: center; }
  .contentMediaImg {
    border-radius: 15px;
    border: 3px solid;
    border-color: darkred;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-left: 35px; ESTO SE BORRA PARA QUE LAS IMG DE MOBILE QUEDEN BIEN CENTRADAS*/
    width: 300px;
    height: 250px; }
  .contentMediaImgEmpresa {
    border-radius: 100px;
    border: 3px solid;
    border-color: darkred;
    margin-top: 30px; }
  .contentMedia {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 1024px) {
  .contentMediaGuias {
    display: flex;
    justify-content: center; }
  .contentMediaImg {
    border-radius: 15px;
    border: 3px solid;
    border-color: darkred;
    margin-top: 10px;
    margin-bottom: 10px; }
  .margenimg {
    justify-content: left;
    margin-right: 500px; }
  .contentMediaImgEmpresa {
    border-radius: 100px;
    border: 3px solid;
    border-color: darkred;
    margin-top: 30px; }
  .contentMedia {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gradiente {
    background-image: linear-gradient(lightblue, white);
    height: auto; }
  .h2Iframe {
    text-align: start;
    margin-left: 30px;
    font-family: roboto;
    font-size: 20px;
    margin-right: 30px; } }

@media only screen and (min-width: 1024px) {
  .gradiente {
    background-image: linear-gradient(lightblue, white); }
  .h2Iframe {
    text-align: start;
    margin-left: 30px;
    font-family: roboto; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .contentMediaIframe {
    text-align: center; }
  iframe {
    width: auto;
    height: auto; }
  .agendaYconsultaForm {
    border: 3px solid darkcyan !important;
    border-radius: 4px !important;
    font-family: roboto; } }

@media only screen and (min-width: 1024px) {
  .contentMediaIframe {
    text-align: center; }
  .agendaYconsultaForm {
    border: 3px solid darkcyan !important;
    border-radius: 4px !important;
    font-family: roboto; } }

.parrafo1Y2, .parrafo3 {
  margin-left: 30px;
  margin-right: 30px;
  justify-content: center;
  font-family: roboto;
  color: black; }

/*clase parrafo 3 modificada con un extend proveniente de parrafo 1y2*/
.parrafo3 {
  margin-bottom: 50px;
  color: black; }
  .parrafo3 a {
    text-decoration: none;
    font-family: roboto; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .parrafo1Y2, .parrafo3 {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    font-family: roboto; }
  .parrafo3 {
    @entend .parrafo1Y2;
    margin-bottom: 20px; }
    .parrafo3 a {
      text-decoration: none;
      font-family: roboto; } }

footer {
  font-family: roboto; }

.gridFooter {
  background-color: lightblue;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  padding: 0 50px; }

.footerLogo {
  display: flex;
  justify-content: left;
  margin-right: 35px; }

.navFooterStyle {
  font-size: 15px;
  display: flex;
  justify-content: start;
  margin-right: 35px; }
  .navFooterStyle ul {
    padding: 0; }
    .navFooterStyle ul li {
      list-style-type: none; }
      .navFooterStyle ul li a {
        color: black;
        text-decoration: none; }
        .navFooterStyle ul li a:hover {
          color: red; }

.footerStyleRss {
  margin-right: 35px; }
  .footerStyleRss ul {
    display: flex;
    padding: 0; }
    .footerStyleRss ul li {
      list-style-type: none;
      margin-right: 15px; }

/*bootstrap*/
.footerB {
  background-color: lightblue; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  footer {
    font-family: roboto; }
  .gridFooter {
    background-color: lightblue;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px; }
  .footerLogo {
    display: flex;
    justify-content: left;
    margin-right: 35px; }
  .navFooterStyle {
    font-size: 15px;
    display: flex;
    justify-content: start;
    margin-right: 35px; }
    .navFooterStyle ul {
      padding: 0; }
      .navFooterStyle ul li {
        list-style-type: none; }
        .navFooterStyle ul li a {
          color: black;
          text-decoration: none; }
          .navFooterStyle ul li a:hover {
            color: red; }
  .footerStyleRss {
    margin-right: 35px; }
    .footerStyleRss ul {
      display: flex;
      padding: 0; }
      .footerStyleRss ul li {
        list-style-type: none;
        margin-right: 15px; }
  /*bootstrap*/
  .footerB {
    background-color: lightblue; } }

/*aplicacion de un mixin*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
  /*mixin aplicado a la clase contentMediaImg1 ubicado en guias.html*/
  .contentMediaImg1 {
    border-radius: 15px;
    border: 3px solid;
    border-color: darkred;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 27px;
    height: 200px;
    width: auto; } }

@media only screen and (min-width: 1024px) {
  /*mixin aplicado a la clase contentMediaImg1 ubicado en guias.html*/
  .contentMediaImg1 {
    border-radius: 15px;
    border: 3px solid;
    border-color: darkred;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 450px; } }
