$roboto:roboto;
$azul:lightblue;
$negro:black;
$rojo:red;
$rojooscuro:darkred;
$mt-10:10px;
$mb-10:10px;
$mb-15:15px;
$ml-10:10px;
$ml-30:30px;
$ml-55:55px;
$ml-450:450px;
$ml-27:27px;
@media only screen and (min-width: 0px) and (max-width: 768px){
.over{
	overflow-x:hidden;
}
}