$footer:footer;
footer {
	font-family:map-get($colores,fontR,);
}
.gridFooter {
	background-color:map-get($colores,azul,);
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
	padding: 0 50px;
}

.footerLogo {
	display: flex;
	justify-content: left;
	margin-right: 35px;
}

.navFooterStyle {
	font-size: 15px;
	display: flex;
	justify-content: start;
	margin-right: 35px;
ul {
	padding: 0;
li {
	list-style-type: none;
a {
	color:map-get($colores,negro,);
	text-decoration: none;
	&:hover{
			color:map-get($colores,rojo,);
		}
}
}
}
}

.footerStyleRss {
	margin-right: 35px;
ul {
	display: flex;
	padding: 0;
li {
	list-style-type: none;
	margin-right: 15px;
}
}
}
/*bootstrap*/
.footerB{
	background-color: lightblue;
}
.h3rss{
	margin-top:$mt-10;
}

@media only screen and (min-width: 0px) and (max-width: 768px){
	footer {
	font-family:map-get($colores,fontR,);
}
.gridFooter {
	background-color:map-get($colores,azul,);
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
	padding: 0 10px;
}

.footerLogo {
	display: flex;
	justify-content: left;
	margin-right: 35px;
}

.navFooterStyle {
	font-size: 15px;
	display: flex;
	justify-content: start;
	margin-right: 35px;
ul {
	padding: 0;
li {
	list-style-type: none;
a {
	color:map-get($colores,negro,);
	text-decoration: none;
	&:hover{
			color:map-get($colores,rojo,);
		}
}
}
}
}

.footerStyleRss {
	margin-right: 35px;
ul {
	display: flex;
	padding: 0;
li {
	list-style-type: none;
	margin-right: 15px;
}
}
}
/*bootstrap*/
.footerB{
	background-color: lightblue;
}
.h3rss{
	margin-top:$mt-10;
}
/*clase para darle margin top al titulos rss debido a que al aplicar nav boot omitio ciertos margentes*/

	}
