$footer:footer;
footer {
	font-family: $roboto;
}
.gridFooter {
	background-color: $azul;
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
	padding: 0 50px;
}

.footerLogo {
	display: flex;
	justify-content: left;
	margin-right: 35px;
}

.navFooterStyle {
	font-size: 15px;
	display: flex;
	justify-content: start;
	margin-right: 35px;
ul {
	padding: 0;
li {
	list-style-type: none;
a {
	color: $negro;
	text-decoration: none;
	&:hover{
			color: $rojo;
		}
}
}
}
}

.footerStyleRss {
	margin-right: 35px;
ul {
	display: flex;
	padding: 0;
li {
	list-style-type: none;
	margin-right: 15px;
}
}
}
