$header:header;
header {
	font-family:map-get($colores,fontR,);
}
/*colores del parcial header modificado con map colores y map get*/
.tituloLogo {
	display: flex;
	justify-content: center;
	background-image: url(../assets/psicopattern.jpg);
	background-size: 30%;
	background-repeat: repeat;
h1 {
	margin: auto 0;
	font-weight: 500;
	font-size: 40px;
}
a {
	margin: auto 0;
	text-decoration: none;
	color:map-get($colores,negro,);
}
}

.navStyle {
  background-color:map-get($colores,azul,); 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  
  li{
  	display: inline-block;
  	font-size: 25px;
  	padding: 20px;
  	a {
		color:map-get($colores,negro,);
		text-decoration: none;
		&:hover{
			color:map-get($colores,rojo,);
		}
  }
  }
	}
	/*clases de bootstarp de index.html*/
.tituloLogoBoot{
	background-image: url(../assets/psicopattern.jpg);
	background-size: 30%;
	background-repeat: repeat;
}
.navStyle1 {
  background-color: lightblue !important;
  }

 .color{
 	color: #b54747 !important;
 }

.navStyle1 li a:hover {
	color: #b54747 !important;
}
.navCenter {
	/*position: absolute;*/
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

.fontB{
	font-size: 20px;
}
.fontF{
	font-family: roboto;
}

/*fin clases bootstrap*/
@media only screen and (min-width: 0px) and (max-width: 768px){
header {
	font-family:map-get($colores,fontR,);
	/*width: 100%; se elimina el width momentaneamente ya que me esta chocando en la media mobile*/
}
.tituloLogo {
	display: flex;
	justify-content: center;
	background-image: url(../assets/psicopattern.jpg);
	background-size: 30%;
	background-repeat: repeat;
h1 {
	margin: auto 0;
	font-weight: 500;
}
a {
	margin: auto 0;
	text-decoration: none;
	color:map-get($colores,negro,);
}
}

.navStyle {
  background-color:map-get($colores,azul,); 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  
  li{
  	display: inline-block;
  	font-size: 25px;
  	padding: 20px;
  	a {
		color:map-get($colores,negro,);
		text-decoration: none;
		&:hover{
			color:map-get($colores,rojo,);
		}
  }
  }
	}
}
