$header:header;
header {
	font-family: $roboto;
}
.tituloLogo {
	display: flex;
	justify-content: center;
	background-image: url(../assets/psicopattern.jpg);
	background-size: 30%;
	background-repeat: repeat;
h1 {
	margin: auto 0;
	font-weight: 500;
}
a {
	margin: auto 0;
	text-decoration: none;
	color: $negro;
}
}

.navStyle {
  background-color:$azul; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  
  li{
  	display: inline-block;
  	font-size: 25px;
  	padding: 20px;
  	a {
		color: $negro;
		text-decoration: none;
		&:hover{
			color: $rojo;
		}
  }
  }
	}

@media only screen and (min-width: 0px) and (max-width: 768px){
header {
	font-family: $roboto;
	width: 100%;
}
.tituloLogo {
	display: flex;
	justify-content: center;
	background-image: url(../assets/psicopattern.jpg);
	background-size: 30%;
	background-repeat: repeat;
h1 {
	margin: auto 0;
	font-weight: 500;
}
a {
	margin: auto 0;
	text-decoration: none;
	color: $negro;
}
}

.navStyle {
  background-color:$azul; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  
  li{
  	display: inline-block;
  	font-size: 25px;
  	padding: 20px;
  	a {
		color: $negro;
		text-decoration: none;
		&:hover{
			color: $rojo;
		}
  }
  }
	}

}
