@media only screen and (min-width: 0px) and (max-width: 768px){
.contentMediaIframe {
	text-align: center;
}
iframe {
	width: auto;
	height: auto;
}
	}
@media only screen and (min-width: 1024px) {

.contentMediaIframe {
	text-align: center;
}
}
