@media only screen and (min-width: 0px) and (max-width: 768px) {
$img:img;
.contentMediaGuias {
	display: flex;
	justify-content: center;
}

.contentMediaImg{
	border-radius: 15px;
	border: 3px solid;
	border-color:map-get($colores,rojodark,);
	margin-top: $mt-10;
	margin-bottom: $mb-10;
	margin-left: 35px;
	width: 300px;
	height: 250px;
}

.contentMediaImgEmpresa {
	border-radius: 100px;
	border: 3px solid;
	border-color: darkred;
	margin-top:30px;
}
.contentMedia {
	display: flex;
	justify-content: center;
}
}

@media only screen and (min-width: 1024px) {

$img:img;
$mt-10:10px;
$mb-10:10px;
.contentMediaGuias {
	display: flex;
	justify-content: center;
}

.contentMediaImg{
	border-radius: 15px;
	border: 3px solid;
	border-color:map-get($colores,rojodark,);
	margin-top: $mt-10;
	margin-bottom: $mb-10;
}
.margenimg{
	justify-content:left;
	margin-right: 500px;
}
.contentMediaImgEmpresa {
	border-radius: 100px;
	border: 3px solid;
	border-color: darkred;
	margin-top:30px;
}
.contentMedia {
	display: flex;
	justify-content: center;
}
}
