/*manejo de variables, aplica a todo el css*/
@each $color in $azul, $rojo, $negro {
	.#{$color}{
		color:#{$color};
	}
}
/*declaracion de mapa para colores*/
$colores: (rojo:$rojo,
	azul:$azul,negro:$negro,rojodark:$rojooscuro,fontR:$roboto,);



