@media only screen and (min-width: 0px) and (max-width: 768px){
	.gradiente {
	background-image: linear-gradient(lightblue,white);
	height: auto;
}
}
@media only screen and (min-width: 1024px){
.gradiente {
	background-image: linear-gradient(lightblue,white);
	}
.h2Iframe{
	text-align: start;
	margin-left: 30px;
	font-family:map-get($colores,fontR,);

}
}
